fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
asyncpg
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart
scikit-learn
numpy
pandas
joblib
python-dotenv
